@font-face {
    font-family: "montserra";
    src: url(../../../../Tokyo-accueil/assets/fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: "redhatb";
    src: url(../../../../Tokyo-accueil/assets/fonts/RedHatDisplay-Bold.ttf);
}
@font-face {
    font-family: "redhatl";
    src: url(../../../../Tokyo-accueil/assets/fonts/RedHatDisplay-Light.ttf);
}

$mont: montserra;
$redb: redhatb ;
$redl: redhatl;

$black1: rgb(19, 19, 19);
$white1: rgb(236, 235, 235);
$pink1: rgb(238, 145, 184);
$pink2: rgb(243, 199, 237);




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $mont;
    background: $black1;
}


li{
    list-style: none;
}
a,a:visited{
    color: $black1;
    text-decoration: none;
}